"" Source your .vimrc
"source ~/.vimrc

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)

" Find more examples here: https://jb.gg/share-ideavimrc

"" My settings
""" Bell ------------------------------------
set visualbell
set noerrorbells

""" Which key -------------------------------
set which-key

" disable the timeout option
set notimeout

""" Map leader to space ---------------------
nnoremap <SPACE> <Nop>
let mapleader=" "

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" Use system clipboard
set clipboard+=unnamed

""" Plugins  --------------------------------
"" set surround
"" set multiple-cursors
"" set commentary
"" set argtextobj
"" set easymotion
"" set textobj-entire
"" set ReplaceWithRegister

""" Use hybrid line numbers
:set number relativenumber
:set nu rnu

""" Plugin settings -------------------------
let g:argtextobj_pairs="[:],(:),<:>"

""" Common settings -------------------------
set showmode
set so=5
set incsearch
set nu

""" Idea specific settings ------------------
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep

""" Using helix editor keymap mostly -----------
""" https://docs.helix-editor.com/keymap.html

""" Map actions --------------------------------
map <leader>a <Action>(ShowIntentionActions)
map <leader>ff <Action>(GotoFile)
map <leader>? <Action>(GotoAction)
map <leader>fb <Action>(RecentFiles)
map <leader>bb <Action>(PreviousTab)
map <leader>cr <Action>(RenameElement)
map <leader>/ <Action>(FindInPath)
map gd <Action>(GotoDeclaration)
map gr <Action>(ShowUsages)
map <C-c> <Action>(CommentByLineComment)
map <leader>= <Action>(ReformatCode)
map <leader>k <Action>(QuickJavaDoc)
""" Map window ------------------------------
map <C-l> <C-w>l
map <C-h> <C-w>h
map <C-j> <C-w>j
map <C-k> <C-w>k

""" Hard mode ---------------------------------
noremap <Left> <nop>
noremap <Right> <nop>
noremap <Up> <nop>
noremap <Down> <nop>

lnoremap <Left> <nop>
inoremap <Right> <nop>
inoremap <Up> <nop>
inoremap <Down> <nop>
