python      3.11.9
nodejs      22.20.0
fd          latest
ripgrep     latest
rust        latest
lazygit     latest
lazydocker  latest
zellij      latest
atuin       latest
github-cli  latest
fzf         latest
tree-sitter latest
